<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="2" name="First Suite" parallel="classes ">
  <groups>
    <run>
      <include name="Important"/>
      <exclude name="Not Important"/>
    </run>
  </groups>
  <listeners>
    <listener class-name="aem.tests.ListenerClass"/>
  </listeners>
  <test name="First Test" >
     <parameter name="ffProfileName"  value="default"/>
     <parameter name="browser" value="chrome"/>
    <classes>
      <class name="aem.tests.First" />
      <class name="aem.tests.Second" />
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
